.axis text {
  font-family: 'Open Sans', sans-serif;
  font-size: 14pt;
}
.axis .label {
  font-size: 20pt;
}

.axis path, .axis line {
  fill: none;
  stroke: #635F5D;
  shape-rendering: crispEdges;
}

.color-legend text {
  font-family: 'Open Sans', sans-serif;
  font-size: 20pt;
}

.d3-tip {
  font-family: 'Open Sans', sans-serif;
  font-size: 19pt;
  line-height: 2;
  padding: 7px;
  background: rgba(23, 2, 2, 0.867);
  color: rgba(252, 247, 247, 1);
  border-radius: 25px;
}
.xlabel {
  font-size: 30pt;
  font-family: 'Open Sans', sans-serif;
  color :hsl(0, 0%, 20%);
}
.ylabel {
  font-size: 30pt;
  font-family: 'Open Sans', sans-serif;
  color :#333333;
}
.religionlabel{
  font-family: 'Open Sans', sans-serif;
  font-size: 30pt;
  

}
.titlelabel{
  font-family: 'Open Sans', sans-serif;
  font-size: 35pt;
  
  

}
